
*{
margin:0;
padding: 0;
font-family: 'Poppins', sans-serif;

}
h1{
font-size: 50px;
}
.header{
min-height: 100vh;
width: 100%;
background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/gallery-img-1.jpg);
background-size: cover;
background-position: center;
position: relative;
margin-bottom:0;
padding: 0;
}
nav{
display: flex;
padding: 2% 2%;
justify-content: space-between;
align-items: center;
}
nav img{
width: 150px;
padding-left: 0%

}
.nav-links{
flex: 1;
text-align: right;
margin-bottom: 5%;
}
.nav-links ul li{
list-style: none;
display: inline-block;
padding: 6px 12px;
position: relative;
padding-top: 0%;
}
.nav-links ul li a{
color: #fff;
text-decoration: none;
font-size: 18px;   
}
.nav-links ul li::after{
    content: '';
width: 0%;
height: 2px;
background: #ff1201;
display: block;
margin: auto;
transition: 0.5s;
}
.nav-links ul li:hover::after{
width: 100%;
}
.slideshow-container {
width: 100%;
height: 100%;
overflow: hidden;
position: relative;
}

.slideshow {
display:flex;
width: calc(80% * 4);

animation: slide 13s linear infinite;
}

.slide {

width: 10%;
  flex-shrink: 0;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 8px 8px;
  margin-bottom: 2%;

}

@keyframes slide {
0% {
  transform: translateX(0);
}
100% {
  transform: translateX(-60%);
}
}
.text-box{
width: 90%;
color: rgb(255, 255, 255);
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
}
.text-box h1{
font-size: 62px;
margin-bottom: 2%;
}
.text-box p{
margin: 5px 0 20px;
font-size: 14px;
color: aquamarine;
margin-top: 2px;
margin-bottom: 2px;
}



.button1 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 3%;
  }
  
  .button1 {
    background-color: rgb(255, 255, 255); 
    color: black; 
   
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  



.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;

}
.location iframe{
    width: 100%;
}
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa-solid{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div .fa-regular{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: white;
    font-weight: 400;

}
.contact-col input,.contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid rgba(204, 204, 204, 0.305);
    box-sizing: border-box;
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;

}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa-brands{
    color: #f47536;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;

}
.footer .fa-solid{
    color: #f44336;
}


h1 {
    color: aliceblue;
    text-align: center;
    margin-bottom: 7%;
    font-size: 70px;
    }



h2 {
    color:aliceblue;
    margin-top: 10;
    text-align:center;
    font-size: 35px;
    margin-bottom: 2%;
    padding: 5px 5px;

}

.product p {
    line-height: 1;
    text-align: center;
    color:aquamarine;
    margin-bottom: 5%;
    margin-top: 5%;
}

.product li{
    text-align: center;
    color: aquamarine;
    margin-bottom: 0.5%;
    font-size: 18px;
}




.challenges ul {
    margin-top: 10;
    margin-bottom: 5%;
    list-style: none;
    padding: 0;
    border: 0;
    text-align: center;
}

.challenges li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 5px;
    color: aquamarine;
    margin-bottom: 4px;
    font-size: 18px;
}

.challenges li span {
    color: aliceblue;
    font-weight: bold;
}





.health-benefits ul {
    margin-top: 20px;
    list-style: none;
    padding: 20;
    text-align: center;
    color: aquamarine;
    margin-bottom: 20px;
}

.health-benefits li {
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 5px;
    font-size: 18px;
}

.health-benefits li span {
    color: #ffffff;
    font-weight: bolder;
}
.gallery-container {
overflow: hidden;
width: 100%;
size: cover;


}

.gallery-slide {
display: flex;
width: 200%;
height: 50%;
border-radius: 10px;
}

.gallery-slide img {
width: 13%;
flex-shrink: 0;
border-radius: 20px;
box-sizing: border-box;
padding: 8px 8px;
margin-bottom: 2%;

}

/* Animation for sliding effect */
.gallery-slide {
animation: slide 10s infinite;
}

@keyframes slide {
0% {
transform: translateX(0);
}
20% {
transform: translateX(0);
}
25% {
transform: translateX(-25%);
}
45% {
transform: translateX(-25%);
}
50% {
transform: translateX(-50%);
}
70% {
transform: translateX(-50%);
}
75% {
transform: translateX(-75%);
}
95% {
transform: translateX(-75%);
}
100% {
transform: translateX(0);
}
}



.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 2px;

}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 100%;
    background: #fde2e2;
    margin-bottom: 5%;
    padding: 20px 12px 80px 0;
    box-sizing: border-box;
    transition: 0.5s;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    margin: 0;
    padding: 0;
}
.course-col:hover{
    box-shadow: 0px 0px 20px 0px rgba(5, 220, 253, 0.937);
}